<!DOCTYPE html>
<html>

<head>
	<title>Sketchula-Your Online Design Master</title>

	<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro:700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css')}}">
	<!--Javascript-->

	<!--Drawing Pad-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/landing.js')}}">
	</script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css"
		rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous">
		</script>
	<script src="{{ url_for('static', filename='js/jquery.drawr.combined.js')}}"></script>

</head>

<body onload="init()">

	<!--Basic Jumbotron-->
	<div class="jumbotron">
		<h1>
			<center>Sketchula</center>
		</h1>
		<h2>
			<center>Your Online Design Master</center>
		</h2>
		<div></div>
		<p>
			<center><a class="btn btn-info btn-lg" href="#" role="button">Make my Sketch</a></center>
		</p>
	</div>



	<!--Basic Navbar-->

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Sketchula</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Pick your product</a></li>
					<li><a href="#">Upload your sketch</a></li>
					<li><a href="#">Transfer my Style</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">My Gallery</a></li>
					<li><a href="#">Log out</a></li>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div id="sketchpad">
		<canvas id="sketcharea"></canvas>
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/sketchpad.js')}}">
	</script>
	
	<button onclick="resetPad()">Reset</button>
	<input type="file" id="file-picker" style="display:none;">

	<img id="previewPort" src=""/> 


</body>

</html>